<h1><%= @patient.name %></h1>

<h3>Appointments: </h3>

<ul>
  <% @patient.doctors.each do |doctor| %>
    <% doctor.appointments.each do |date_time| %>
      <li><%= date_time.appointment_datetime.strftime("%B %-d, %Y at %H:%M") %> with <%= link_to doctor.name, doctor_path(doctor.id) %></li>
    <% end %>
  <% end %>
</ul>
