
<h2><%= @doctor.name %></h2>

<h2><%= @doctor.department %></h2>
<ul>
<% @doctor.appointments.map do |app|%>
  <li><%= link_to app.patient.name, patient_path(app.patient) %></li>
  <%= app.appointment_datetime.strftime("%B %d, %Y at %H:%M") %>

<% end %>
</ul>
